h1 {
  text-align: center;
}

.lista-de-pokemon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.lista-de-pokemon button {
  color: white;
  background: dodgerblue;
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.lista-de-pokemon li {
  font-size: 1.1rem;
}
